# Node JS
node_modules/

# Visual Studio Code
.vs/

# HUGO
public/
resources/
.hugo_build.lock
hugo_stats.json

# Krita
*~

# Nixos flakes
.devenv/
.direnv/

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
assets/jsconfig.json
