# No secrets here.
.env

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# Visual Studio Code
.vs/

# Jetbrains
.idea/

# pre-commit
.pre-commit-config.yaml

# This is an artifact of the CSS build and doesn't need to be kept in the repo.
assets/css/main.css

# What is this one for again?
assets/jsconfig.json

# Node JS
node_modules/

# HUGO
public/
resources/
.hugo_build.lock
hugo_stats.json

# Krita
*~
