# Hugo Output & Cache
public/
resources/
.hugo_build.lock
layouts/

# Node.js Dependencies
node_modules/
package-lock.json
pnpm-lock.yaml

# Local Environment Variables
.env
*.env

# Build Artifacts & System Files
dist/
.DS_Store
Thumbs.db
